.signup {
  background-color: #f7f9fc;
}
.signup__container {
  margin: 35px 0;
  background-color: #f7f9fc;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signup__container h1 {
  margin: 55px 0;
  color: #030046;
  font-weight: 600;
}
.signup__container input,
button {
  width: fit-content;
  background-color: transparent;
  border: 1px solid #9fa3c9;
  padding: 15px 21px;
  width: 27rem;
}
.input-pass {
  margin-bottom: 50px;
}
.signup__container button {
  color: white;
  background-color: #575ef5;
}

.signup__container i {
  position: absolute;
  left: 58rem;
  top: 442px;
  color: #9fa3c9;
}
